@import '../../styles/variables';

.mobileMenu {
    width: 100vw;
    height: 10rem;
    // background-color: aqua;
    position: fixed;
    bottom: 0;
    background-color: $backgroundColour;

    border-radius: 1.5rem 1.5rem 0 0;
    
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;


    display: flex;
    justify-content: space-evenly;

    &__tile {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .icon {
            height: 4rem;
            width: 4rem;
            color: black;
        }
    }

}