// PRIMARY COLOURS
$backgroundColour : white;
$blackShadeHeader : #2b2b2b;
$grayShadeSubtext : #7A7A7A;

// SECONDARY COLOURS
$greenShadeLogin : #18CE2A;
$orangeShade : #FE904B;
$facebookShade : #3B5998;
$InputShade : #f3f3f3;
$grayShadeLine : #E8E8E8;

// FONT SIZES
$headerFontSize : 4rem;
$subtextFontSize : 2rem;

$carNickname : 3rem;
$carSubtext : 2rem;

// FONT WEIGHTS
$headerBoldness : 400;
$makeBoldness : 900;