@import './_mixins';
@import './_variables';

.dashboard{
    @include flexStart(row);

    .content {
        display: flex;
        flex-direction: column;
                
    }

    .tiles {
        display: flex;
        flex-wrap: wrap;

        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    
    }

    .fuelnote_tiles {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        gap: 1.2rem;

        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

}
