@import './_mixins';
@import './_variables';

main {
    @include flexStart(row);

    .submain {
        width: calc(100% - 28rem);
        display: flex;
        flex-direction: column;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-top: 4rem;
            margin-bottom: 1rem;

            &__texts {
                display: flex;
                flex-direction: column;

                .header {
                    margin: 0;
                    
                }

                .subtext {


                }
            }

            button {
                margin-right: 3rem;
            }
        }

        &__tiles {
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;

        }
                
    }

    @media (max-width: 500px) {
        @include flexStart(row);

        .submain {
            height: 100%;
            

            
            .content {


                &__header {
                    margin: 0;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    margin-left: 2rem;

                    button {
                        margin-right: 2rem;
                    
                    }
                }

                &__tiles {
                    gap: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 8rem;
                }
            }


        }
    }
}
