@import './_mixins';
@import './_variables';

.profile {
    @include flexCenter(row);
    margin-top: 2rem;
    gap: 3rem;

    &__logo {
        img {
            width: 20rem;
            height: 20rem;
            border-radius: 100%;
        }
       
    }

    &__texts {
        @include flexCenter(column);
        
        h2 {
            margin: 0;
        }
    }
}

.button__profile {
    // width: 8rem;
    // height: 3rem;
    padding: 1rem;

    border: none;
    border-radius: 1rem;

    font-size: 2rem;
    font-weight: bold;

    color: $backgroundColour;
    background-color: red;

    cursor: pointer;

    &:active{
        transform: scale(0.98);
    }
    &:hover{
        transform: scale(0.98);
    }

}

@media (max-width: 500px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;


        &__logo {
            img {
                // width: 10rem;
                // height: 10rem;
            }
        }

        &__texts {
           
        }
    }
}