@import './_mixins';
@import './_variables';

.chapter {
    @include flexCenter(column);

    .option {
        @include flexCenter(row);
        justify-content: space-between;
        width: 30rem;


        .button {
            width: 8rem;
            height: 3rem;
            @include flexCenter(column);
            align-self: center;
            
        }
    }
}

@media (max-width: 500px) {
    .content {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        &__header {
            margin: 0;
            margin-top: 2rem;
            margin-bottom: 4rem;
            margin-left: 2rem;
        }
    }
}