@import './mixins';
@import './variables';

.signin {
    @include flexCenter(column);
    height: 100vh;

    &__form {
        @include flexCenter(column);

    }

    .gap {
        height: 2rem;
    }

    input {
        background-color: $InputShade;
        width: 27rem;
        height: 5rem;
    
        border-radius: 1rem;
        border: 0;
        font-size: 1.75rem;
    
        padding-left: 1em;
        margin: 0.5rem 0;
    }
    
    .no-valid
    {
        box-shadow: 0 0 0.2em red;
        outline: none;
        color: red;
        border: 3px solid red;
    
    }
}